*
    color: white
    margin: 0px
    padding: 0px
.fotocover
    background-size: cover
    background-repeat: no-repeat
    background-position: center
.primero
    max-width: 90%
    min-height: 70vh
    background-color: purple
    margin: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .beditar
        display: flex
        justify-content: flex-end
        i
            margin: 5px
            font-size: 0.8rem
    .perfilfoto
        min-width: 100%
        background-color: green
        min-height: 35%
        max-height: 35%
        background-image: url("./img/test.jpg")
        .fotousuario
            min-height: 150px
            max-height: 150px
            min-width: 150px
            max-width: 150px
            background-image: url("./img/terry-crews.jpg")
            position: fixed
    .perfilcuerpo
        min-width: 100%
        background-color: blue
        min-height: 65%
        max-height: 65%
        
//background-size: cover
//background-repeat: no-repeat
//background-position: center
//background-image: url("./img/terry-crews.jpg")