<!--<i class="fas fa-edit beditar"></i>-->

<div class="primero">
    <div class="perfilfoto fotocover"><div class="beditar"><i class="fas fa-edit"></i></div>
    <div class="fotousuario fotocover"></div>
    
    </div>
    <div class="perfilcuerpo"><div class="beditar"><i class="fas fa-edit"></i></div>
        <div class="superior">
            <div class="slot vacio"></div>
            <div class="slot nombreubi">Terry Crews <i class="fas fa-map-marker-alt"></i> Michigan, EEUU </div>
            <div class="slot correotel">Terrycrews@camacho.com <br> 123123123</div>
        </div>
        <div class="medio">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus illum aliquam voluptate, et ipsa eligendi officiis quae quia earum commodi cupiditate quidem ab nemo delectus animi ipsam recusandae? Harum aliquam quo neque placeat perferendis necessitatibus cupiditate tenetur labore, asperiores quia dolore hic ratione alias est reiciendis nihil doloremque. Deserunt voluptatum excepturi nostrum quae soluta, fugit impedit explicabo, iusto suscipit, consequuntur error id accusamus. Consequatur eligendi similique consequuntur sunt odit magnam, sint odio. Libero amet facere, voluptatem maiores eos quae harum!</p>
        </div>
    </div>
</div>